.profile-info__title-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 22px 0 8px 0;
}
@media (max-width: 600px) {
    .profile-info__title-group {
        width: 88.125%;
        margin: 0 auto;
        padding: 0 0 14px 30%;
    }
}
@media (max-width: 450px) {
    .profile-info__title-group {
        padding: 0 0 14px 15%;
    }
}

@media (max-width: 320px) {
    .profile-info__title-group {
        padding: 0 0 10px 46px;
    }
}