.popup__container-close-image {
    background-image: url('../../../images/Close\ Icon.png');
    width: 32px;
    height: 32px;
    background-size: cover;
}
@media (max-width: 600px) {
    .popup__container-close-image {
        width: 20px;
        height: 20px;
    }
}